<footer>
	<div class="footer-container">
		<div class="footer-content">
			<div class="footer-section">
				<h3>A propos</h3>
				<ul>
					<li><a href="#">Mentions légales</a></li>
					<li><a href="#">RGPD</a></li>
					<li><a href="#">Cookies</a></li>

				</ul>
			</div>
			<div class="footer-section">
				<h3>Liens rapides</h3>
				<ul>
					<li><a href="{{ path('marque') }}">Marque</a></li>
					<li><a href="{{ path('collections') }}">Collections</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<h3>Contactez-nous</h3>
				<p><strong>Adresse :</strong> 121 Rue du de la Vendée, 49300 Cholet</p>
				<p><strong>Email : </strong>adrien.pigeon98@gmail.com</p>
				<p><strong>Téléphone :</strong> 06 16 09 19 34</p>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2023 Sneakers - Tous droits réservés - Mentions légales</p>
		</div>
	</div>
</footer>
