{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}
	
{% block body %}
	<link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.min.css') }}">
	<section>
		<div>
			<div>
                <h1>Réinitialisation du mot de passe</h1>
	
				{{ form_start(requestPassForm) }}

					{{ form_row(requestPassForm.email) }}
					<button type="submit">Envoyer</button>

				{{ form_end(requestPassForm) }}

				

            </div>
		</div>

	</section>
{% endblock %}

