{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <section>
      <div class="wrapper">
        <div class="container">
          <div class="sneaker-left">
            <img src="assets/img/image-product-1.jpg" alt="sneaker" />
          </div>
        </div>

        <div class="container">
          <div class="product">
            <h3>SNEAKER COMPANY</h3>
            <h1>Fall Limited Edition Sneakers</h1>
            <p>
              These low-profile sneakers are your perfect casual wear companion.
              <br/>
              Featuring a durable rubber outer sole, <br />
              they'il withstand everything the weather can offer.
            </p>
            <br />
            <div>
              <h2 class="price">$125.00</h2>
              <p class="price-before">$249.00</p>
              <!--DEBUT PARTIE BUTTON-->
              <div class="zone3">
                <div class="buttonsall">
                  <button class="offset">AJOUTER AU PANIER</button>
                </div>
              </div>
              <!--FIN PARTIE BUTTON-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <div class="container-product">
          <div class="product">
            <h3>SNEAKER COMPANY</h3>
            <h1>Spring Limited Edition Sneakers</h1>
            <p>
              These low-profile sneakers are your perfect casual wear companion.
              <br />
              Featuring a durable rubber outer sole, <br />
              they'il withstand everything the weather can offer.
            </p>
            <br />
            <div>
              <h2 class="price">$125.00</h2>
              <p class="price-before">$249.00</p>
              <!--DEBUT PARTIE BUTTON-->
              <div class="zone3">
                <div class="buttonsall">
                  <button class="offset">AJOUTER AU PANIER</button>
                </div>
              </div>
              <!--FIN PARTIE BUTTON-->
            </div>
          </div>
        </div>

        <div class="container">
          <div class="sneaker-right">
            <img src="assets/img/image-product-1.jpg" alt="sneaker" />
          </div>
        </div>
      </div>
    </section>
  </body>

<script src="assets/js/script.js"></script>



{% endblock %}
