{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<section>
		<div class="wrapper">
			<div class="container-main">
				<div class="sneaker-left">
					<img src="assets/img/image-product-1.jpg" alt="sneaker"/>
				</div>
			</div>

			<div class="container-main">
				<div class="product">
					<h3>SNEAKER COMPANY</h3>
					<h1>Automne Édition Limitée</h1>
					<p>Ces baskets à profil bas sont le compagnon parfait pour une tenue décontractée.
					<br/>
					Dotées d'une semelle extérieure en caoutchouc durable,
					<br>
					elles résisteront à tout ce que la météo peut offrir.
				</p>
				<br/>
				<div>
					<h2 class="price">$125.00</h2>
					<p class="price-before">$249.00</p>
					<!--DEBUT PARTIE BUTTON-->
					<div class="zone3">
						<div class="buttonsall">
							<button class="offset">AJOUTER AU PANIER</button>
						</div>
					</div>
					<!--FIN PARTIE BUTTON-->
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="wrapper">
		<div class="container-product">
			<div class="product">
				<h3>SNEAKER COMPANY</h3>
				<h1>Printemps Édition Limitée</h1>
				<p>
					Ces baskets à profil bas sont les compagnons parfaits lors de chaleurs.
					<br/>
					Dotées d'une semelle extérieure en caoutchouc durable,
					<br/>
					elles vous feront voyager partout en France.
				</p>
				<br/>
				<div>
					<h2 class="price">$120.00</h2>
					<p class="price-before">$299.00</p>
					<!--DEBUT PARTIE BUTTON-->
					<div class="zone3">
						<div class="buttonsall">
							<button class="offset">AJOUTER AU PANIER</button>
						</div>
					</div>
					<!--FIN PARTIE BUTTON-->
				</div>
			</div>
		</div>

		<div class="container-main">
			<div class="sneaker-right">
				<img src="assets/img/image-product-1.jpg" alt="sneaker"/>
			</div>
		</div>
	</div>
</section></body><script src="assets/js/script.js"></script>{% endblock %}
