<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marque</title>
		<link rel="stylesheet" href="assets/styles/nav.css">
		<link rel="stylesheet" href="assets/styles/footer.css">
		<link rel="stylesheet" href="assets/styles/style.css">
	</head>
	<body>

		{% include "_partials/_nav.html.twig" %}

		<div class="wrapper_marque">

			<p><strong>SNEAKERS</strong> est une marque de chaussure moderne 
            pour les "jeuns" basée à Cholet en Pays de la loire.</p>
		</div>
		<div class="wrapper_marque">
			<img src="assets/img/logo.svg" alt="">
            <!--  Réaliser une photo sur canva avec le logo "Sneaker"-->
		</div>

		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
