
/*** MARQUE ***/
/* body */

  .wrapper_marque {
    margin-bottom: 100px;
  }
  
  .wrapper_marque p {
    font-size: 18px;
    font-weight: 500;
  }
  
  .wrapper_marque img {
    width: 100%;
  }
  