@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
    --orange-color: hsl(26, 100%, 55%);
    --pale-orange-color: hsl(25, 100%, 94%);
  }

/* HEADER */

nav {
    display: flex;
    align-items: center;
  
    margin-top: 2%;
  }
  
  .logo {
    margin-left: 20%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 10%;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-weight: 900;
  }
  
  .nav-links a:hover{
    color: var(--orange-color);
    transition: ease 300ms;
  }
 

  /* NAV COMPTE */
  .nav-compte{
    list-style: none;
    display: flex;
    margin-left: 20%;
  }

  .nav-compte li{
    margin-left: 5%;
  }
  
  .nav-compte li a{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-weight: 900;
  }

  .nav-compte a:hover{
    color: var(--orange-color);
    transition: ease 300ms;
  }

  .cart {
    margin-left: 2%;
  }
  
  .profil {
    margin-left: 2%;
  }
  
  .profil img {
    width: 50%;
    height: auto;
  }