@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --orange-color: hsl(26, 100%, 55%);
  --pale-orange-color: hsl(25, 100%, 94%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/* section */
section.active {
  background-color: #f0f0f0;
}

/* Style de la page */
.page-style{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* panier */
.item-count {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}



/* FORMULAIRES */
/*** Inscription ***/
.form-registration {
  width: 20%;
  border: solid 2px --color;
  margin-left: 15%;
  margin-top: 1%;
}
.form-structure {
  margin-bottom: 5%;
  display: block;
}
.titre-field {
  margin-bottom: 5%;
  margin-top: 5%;
}

.mdp {
  margin-top: 5%;
}

.btn-register {
  margin-top: 5%;
  margin-bottom: 10%;
}

.register-container h1 {
  margin-left: 15%;
  margin-top: 5%;
}
