<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
			- Sneakers
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# Feuilles de styles #}
		{% block stylesheet %}
			<link rel="stylesheet" href="assets/styles/style.css">
			<link rel="stylesheet" href="assets/styles/nav.css">
			<link rel="stylesheet" href="assets/styles/footer.css">
			<link href="{{ asset('styles/style.css') }}" rel="stylesheet"/>
			<link href="{{ asset('styles/nav.css') }}" rel="stylesheet"/>
			<link href="{{ asset('styles/footer.css') }}" rel="stylesheet"/>
		{% endblock %}

		{#Fichier JS#}
		{% block javascript %}{% endblock %}
	</head>

	<body>

		{% include "_partials/_nav.html.twig" %}


		{% block body %}{% endblock %}


		{% include "_partials/_footer.html.twig" %}


	</body>
</html>
