{% block body %}
<link rel="stylesheet" href="{{asset('assets/styles/error.css')}}">

<div class="container">

<h1>Désolé, Il y a eu une erreur côté serveur, veuiller réessayer ultérieurement</h1>
<h2>Erreur 500</h2> <br>
<a class="lien" href="{{ path('app_main_') }}">Retour à l'accueil</a>
</div>

{% endblock %}