{% block body %}
<link rel="stylesheet" href="{{asset('assets/styles/error.css')}}">

<div class="container">

<h1>Désolé, L'accès vous à été interdit</h1>
<h2>Erreur 403</h2> <br>
<a class="lien" href="{{ path('app_main_') }}">Retour à l'accueil</a>
</div>

{% endblock %}